@page
@model AS91880.Pages.MythModel 
@{ 
    ViewData["Title"] = "The Myth";
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]:</h1>
    <h2 class="display-4">The Loch Ness Monster</h2>
</div>
<div class="text-center">
    <img src="~/img/Hoaxed_photo_of_the_Loch_Ness_monster.jpg" class="float-left" style="align-content=left" />
    <p>
        This photo, now proven a hoax was a photo of the supposed lochness monster
    </p>
    <b>Information</b>
    <p>
        The Loch Ness monster is supposed to be a large marine animal similar to that of a plesiosaurus.
        It gets its name from the lake it inhabits the Loch Ness lake in Scotland.
    </p>
    <p>
        The animal was described to be in myth about 6 metres long.
        People also thought that this animal could have been the plesiosaur which was alive 10's of millions or years ago
    </p>
</div>
