@page
@model AS91880.Pages.Myth2Model
@{
    ViewData["Title"] = "The Myth #2";
}
<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]:</h1>
    <h2 class="display-4">The Kraken</h2>
</div>
<div class="text-center">
    <img id="hp" src=~/img/220px-Colossal_octopus_by_Pierre_Denys_de_Montfort.jpg alt="kraken photo"/>
    <p>
        The Kraken is another myth of a sea monster but unlike the Loch Ness monster this monster resembles more of a squid than the millions of years extinct plesiosaur.
    </p>
    <b>Information:</b>
    <p>
        Supposedly the giant squid would grow to be 13-15 metres in length and would typically attack boats and ships in media.
    </p>
    <p>
        The alleged creature harbours the coasts of Norway & Greenland. The kraken was first mentioned in a paper that dates back to the 13th century.
    </p>
    <img height=480px width=640px  id="hp" src="~/img/kraken_destroying_ship.jpg" alt="kraken destroying ship" />
</div>