@page
@using AS91880.Services;
@inject PrivacyService _service;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<h2 class="text-center thead-dark">Relevant Implications</h2>
@{ 
    foreach (var element in _service.Content)
    {
        <p class="text-center">
            @element
        </p>
    }
}
