@page
@using AS91880.Services;
@inject IContentService _service;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center;">
    <h1 class="display-3 text-center">@ViewData["Title"]</h1>
</div>
<h2 class="text-center thead-dark">Relevant Implications</h2>
@{ 
    foreach (var element in _service.GetContent("privacy-path"))
    {
        <p class="text-center">
            @element
        </p>
    }
    <p class="text-center">A site map is included at <a href="~/sitemap.txt">~/sitemap.txt</a></p>
}
<h2 class="text-center thead-dark">Resources used</h2>
@{
    <ul class="align-content-center">
        @{
            foreach (var element in _service.GetContent("links"))
            {
                <li>
                <a href=@element target="_blank">@element</a>
                </li>
            }
        }
    </ul>
}